/* * {
    border: 1px solid gold;
} */

body {
    background-color: yellow;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Hide and Display the Skip Link */

/* Hide */
#skip-link {
    left: 50%;
    position: absolute;
    transform: translateY(-100%);
}

/* Show */
#skip-link {
    background: #e77e23;
    height: 30px;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
}
  
#skip-link:focus {
    transform: translateY(0%);
}

/* Screen Reader Only Text */

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
} 

/* Header and Navigation Styles */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: blue;
}

#logo {
    height: 100%;
}

nav {
    width: 50%;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 8vh;
}

li {
    list-style: none;
}

li:hover {
    background-color: #FFFFFF;
}

nav a {
    color: black;
    text-decoration: none;
}

/* Main Area Styles */

#hero-wrapper {
    width: 100vw;
    position: relative;
    text-align: center;
    color: white;
}

#hero-image {
    width: 100vw;
    height: 45vh;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

/* Form Specific Styles */

form {
    width: 80%;
    margin: 1rem auto;
}

.form-row {
    margin: 1rem;
}

#submit {
    color: #FFFFFF;
    background-color: green;
    padding: 1rem;
    border-radius: 5px;
}

/* Footer Styles */

footer {
    background-color: blue;
    text-align: center;
}

footer a {
    color: #000000;
}